<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="productDao" class="demo01.ProductDaoImpl"/>
    <bean id="myAspect" class="demo01.MyAspectXML"/>
    <aop:config>
        <aop:pointcut id="pointcut1" expression="execution(* demo01.ProductDaoImpl.save(..))"/>
    </aop:config>
    <aop:aspect ref="myAspect">
        <aop:before method="checkPri" pointcut-ref="productDao"/>
    </aop:aspect>
</beans>